body{   margin: 0;
    }

h1  {margin-top: 0;
    }

.Top {background-color: #bbd8fb;
    height: 180px;
  
    }
.Middle{
        height 200px;
        width: 200px;
        background-color:blue;
    }
.Bottom{
    height 200px;
    width: 200px;
    background-color:red;
}